@model IEnumerable<OnlineShopProject.Services.Product>

    
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
    string category = ViewData["SelectedCategory"] as string ?? "";
    int pageSize = 9;
    int currentPage = ViewData["CurrentPage"] as int? ?? 1;
    int totalPages = ViewData["TotalPages"] as int? ?? 1;
    int userAmount = ViewData["TotalProducts"] as int? ?? 1;

    int startIndex = (currentPage - 1) * pageSize + 1;
    int endIndex = currentPage * pageSize;
    if (endIndex > userAmount) endIndex = userAmount;
}



<div class="d-flex justify-content-center align-items-center">
    <h1 class="display-2 text-center">Products in the shop</h1>
</div>



<div class="container justify-content-center align-items-center">
    <h6>Showing @startIndex - @endIndex of @userAmount</h6>
    <h6>Category: @(string.IsNullOrEmpty(category) ? "Not selected" : category)</h6>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-12 col-sm-6 col-md-4 mb-4">
                <div class="card align-items-center">
                    <div class="card-body" style="background-color: whitesmoke;">
                        <img src="@($"images/{product.IMGFileLink}.png")"
                        alt="@product.Name" class="card-img-top" style="width: 150px; height: 150px; object-fit: contain;">
                        <h5 class="card-title text-center">@product.Name</h5>
                        <p class="card-text text-center">Price: $@product.Price</p>
                        <button type="button" class="btn btn-outline-primary w-100" onclick="location.href='/Product/@product.ProductId'">Show Product</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="text-center">
    @if (currentPage > 1)
    {
        <a asp-action="Index" asp-route-page="@(currentPage - 1)" asp-route-category="@category" class="btn btn-secondary">Back</a>
    }

    @if (currentPage < totalPages)
    {
        <a asp-action="Index" asp-route-page="@(currentPage + 1)" asp-route-category="@category" class="btn btn-primary">Next</a>
    }
</div>

